.editorDropzoneContainerWithImage{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.editorCardImageWithDropZone{
    display: block;
    width: 70px;
    min-height: 110px;
    min-width: 100px;
    max-height: 130px;
    max-width: 130px;
    /* margin-bottom: -20pxs; */

    margin: 10px auto;
}


@media only screen and (max-width: 1400px) {
    
    .editorCardImageWithDropZone{
        display: block;
        width: 70px;
        min-height: 40px;
        min-width: 40px;
        max-height: 80px;
        max-width: 80px;
        /* margin-bottom: -20pxs; */
    
        margin: 10px auto;
    }



  }


  @media only screen and (min-width: 1400px) {
    
    .editorDropzoneContainerWithImage{
        display: block;
        height: 50px;
        width: 100%;
        margin-left: 3%;
    }



  }