

#login-in-pizza-logo{
    /* border-radius: 10%; */
    width:250px;
    height: 260px;
    background-image: url("../../images/website_logo.png");
    background-size: fit;
    background-position: center;
    border-radius: 1000px;
    
}